-
  var appName = 'kibana';

block vars

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Kibana
    style.
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.woff2') format('woff2'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.woff') format('woff'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.ttf') format('truetype'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.svg#OpenSans') format('svg');
      }
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.woff2') format('woff2'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.woff') format('woff'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.ttf') format('truetype'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.svg#OpenSans') format('svg');
      }
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.woff2') format('woff2'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.woff') format('woff'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.ttf') format('truetype'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.svg#OpenSans') format('svg');
      }

    //- Favicons (generated from http://realfavicongenerator.net/)
    link(
      rel='apple-touch-icon' sizes='180x180' href='#{kibanaPayload.basePath}/ui/favicons/apple-touch-icon.png'
    )
    link(
      rel='icon' type='image/png' href='#{kibanaPayload.basePath}/ui/favicons/favicon-32x32.png' sizes='32x32'
    )
    link(
      rel='icon' type='image/png' href='#{kibanaPayload.basePath}/ui/favicons/favicon-16x16.png' sizes='16x16'
    )
    link(
      rel='manifest' href='#{kibanaPayload.basePath}/ui/favicons/manifest.json'
    )
    link(
      rel='mask-icon' href='#{kibanaPayload.basePath}/ui/favicons/safari-pinned-tab.svg' color='#ff0f0f'
    )
    link(
      rel='shortcut icon' href='#{kibanaPayload.basePath}/ui/favicons/favicon.ico'
    )
    meta(
      name='msapplication-config' content='#{kibanaPayload.basePath}/ui/favicons/browserconfig.xml'
    )
    meta(
      name='theme-color' content='#ffffff'
    )

    style.
      .kibanaWelcomeView {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #FFFFFF;
      }

      .kibanaWelcomeLogo {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        /* SVG optimized according to http://codepen.io/tigt/post/optimizing-svgs-in-data-uris */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 152.24001 200'%3E%3Ctitle%3ELogo-KibanaIcon%3C/title%3E%3Cpath opacity='0.7' fill='%23fff' d='m 69.168474,167.86329 c -1.888788,-0.38982 -5.200316,-1.55181 -7.358931,-2.58197 -3.437408,-1.64056 -5.188879,-3.02253 -14.104648,-11.12966 -5.59892,-5.09106 -10.179863,-9.4749 -10.179863,-9.74184 0,-0.26672 2.365681,-2.67551 5.257058,-5.35223 l 5.257068,-4.86674 9.862073,9.03273 c 10.866637,9.95278 12.27364,10.84677 17.097474,10.86334 5.629558,0.0228 5.959271,-0.18085 17.25216,-10.4872 5.679775,-5.18353 10.540445,-9.42459 10.801485,-9.42459 0.26102,0 2.84323,2.19283 5.73825,4.87289 l 5.2637,4.87297 -10.42331,9.59314 c -11.05081,10.17071 -13.831487,12.13345 -19.466265,13.74027 -4.352065,1.24102 -10.68802,1.49824 -14.996251,0.60866 z M 15.38882,124.32744 C 6.604423,116.09918 5.1068937,114.48271 3.3293413,111.3104 -1.4480801,102.78428 -1.2259988,93.005131 3.9257101,85.049901 5.0736842,83.277201 9.296692,78.990841 16.079639,72.713711 l 10.394703,-9.619577 5.280051,4.857774 c 2.904026,2.671855 5.280047,5.054963 5.280047,5.295843 0,0.24087 -4.595414,4.72677 -10.212016,9.96858 -11.167282,10.42215 -11.384449,10.7264 -11.363438,15.921859 0.0183,4.48787 0.99486,5.79721 11.789581,15.80523 l 9.778936,9.06631 -5.278451,4.85633 c -2.903148,2.67095 -5.515122,4.85633 -5.804389,4.85633 -0.289283,0 -5.039398,-4.22776 -10.555836,-9.39495 z m 104.42743,4.52221 c -2.8972,-2.68211 -5.26763,-5.06689 -5.26763,-5.29949 0,-0.23252 4.5954,-4.71165 10.21202,-9.95346 11.16729,-10.42207 11.38445,-10.7264 11.36343,-15.921859 -0.0178,-4.4878 -0.99485,-5.7972 -11.78957,-15.80523 l -9.77894,-9.06624 5.27845,-4.856327 c 2.90314,-2.671019 5.51513,-4.85633 5.8044,-4.85633 0.28921,0 5.0394,4.22769 10.55582,9.394883 8.7844,8.228254 10.28193,9.844724 12.05947,13.017104 3.70427,6.6108 4.43213,13.800229 2.09911,20.733059 -1.74782,5.19379 -3.90441,7.78936 -14.88686,17.91668 l -10.38207,9.57375 -5.26763,-4.87654 z m -65.110578,0.45744 c -6.612537,-3.06607 -4.275655,-12.78162 3.075997,-12.78831 4.20377,-0.003 7.405435,2.93173 7.405435,6.78982 0,5.07837 -5.579412,8.27142 -10.481432,5.99849 z m 23.464177,-0.12082 c -0.985465,-0.48023 -2.254894,-1.56518 -2.820932,-2.41046 -1.00213,-1.49641 -1.029185,-2.03333 -1.029185,-20.43488 0,-17.833619 -0.04835,-18.877679 -0.858537,-18.537339 -0.472195,0.19833 -2.072766,0.43845 -3.556816,0.53419 -2.213161,0.14286 -2.998036,-0.0152 -4.365518,-0.87818 -3.315856,-2.092 -4.390272,-6.0336 -2.543985,-9.33288 1.189288,-2.12528 14.065078,-13.909879 15.902112,-14.554477 3.540195,-1.24216 8.033982,0.205925 9.721613,3.133097 0.857742,1.487597 0.909623,3.186667 0.909623,29.78744 0,27.156399 -0.03645,28.274999 -0.964792,29.955149 -1.784696,3.22854 -6.720802,4.52898 -10.393583,2.73819 z M 42.792435,57.764708 37.528759,52.891812 47.95206,43.298603 C 58.972551,33.15578 61.78887,31.163628 67.348617,29.578235 c 7.429038,-2.118442 14.741563,-1.496944 22.172156,1.884478 3.830637,1.743219 4.975167,2.63447 14.349937,11.174575 5.60302,5.104124 10.18732,9.498682 10.18732,9.7657 0,0.266714 -2.36794,2.677479 -5.26208,5.356781 l -5.2621,4.871452 -9.824673,-9.027942 C 82.994506,43.757565 81.353726,42.705145 76.637402,42.65317 c -5.487979,-0.06079 -6.031486,0.271273 -17.305207,10.55984 -5.67978,5.18353 -10.540454,9.424594 -10.801478,9.424594 -0.261018,0 -2.843257,-2.192834 -5.738282,-4.872896 z' /%3E%3C/svg%3E");
      }

    block head
  body(kbn-chrome, id='#{appName}-body')
    kbn-initial-state(data=JSON.stringify(kibanaPayload))
    block content
